/*Global*/

/*Body*/
body{
	color:black;
}
	
.section-title {
	font-size: 40px;
	margin: 14px 0;
}

.section-sublitle {
	font-size: 18px;
	font-style: bold;
}

body p {
	font-size: 14px;
}

/*Navigation*/
