/*Global*/

/*Body*/
body{
	color:black;
}

body p {
	font-size: 18px;
	font-family: "droid-serif", serif;
    color: #5f5f5ee3;
}

/*Navigation*/


nav .container {
	display: flex;
	justify-content: space-between;
}

nav .container .navigation {
	list-style-type: none;
	width: 100%;
	display:flex;
	justify-content: end;
}

nav .container .navigation .nav-item {
	float: right;
	padding-right: 20px;
}

nav .container .navigation .nav-item .nav-link {
	text-decoration: none;
	color: white;
}

/*Header*/


header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Background_Image.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat';
	background-position: center center;
  
}

	header .container  .splash-inner {
		width: 100%;
		text-align: left;
		margin: 16px 0;
	}

	header .container h3 {
		font-family: 'Amiri';
		font-style: italic;
		font-size: 50px;
		margin: 20px 0;
	}
	
	header .container h2 {
		font-size: 75px;
		margin: 10px 0;
	}
	
	header .row {
		text-align: center;
		color: white;
	}
	
	header .container .row {
		padding: 158px 0;
		justify-content: center;
	}
	
	header .container .row .btn {
		width: 243px;
		height: 63px;
		background-color: #e7bc22;
		border-radius: 5%;
		color:white;
		font-weight: 400;
		padding: 20px 0;
		text-decoration: none;
		font-size: 22px;
	}

/*Services*/

.services {
	background-color: white;
	padding: 6% 0;
}

.services .container .row {
	text-align: center;
	display: inline;
}

.services .col-4 i {
	width:70px;
	height:70px;
	line-height: 60px;
	font-size: 35px;
	border-radius: 100%;
	background-color: white;
	border: solid;
	border-color:#e7bc22 ;
	color:#e7bc22;
	justify-content: center;
	text-align: center;
}

.col-4 {
	width: 33.3333%;
	display: inline-block;
}

.services .container .row h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	margin: 10px 0;
}


.services .container .row h5 {
	font-size: 20px;
	font-style: italic;
	color:#5f5f5ee3;
	margin: 10px 0 70px 0;
	font-family: "droid-serif", serif;

}

.services .container .row  h6 {
	font-size: 22px;
	margin: 15px 0 15px 0;
	font-family: 'Montserrat', sans-serif;
}

/*Cards*/

.cards {
	padding: 3% 0;
	background-color: #F7F7F7;
}

.cards h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	margin: 20px 0 5px 0;
	font-weight: bold;
	text-align: center;
}

.cards .container .row-title p   {
	font-size: 25px;
	font-style: italic;
	color:#5f5f5ee3;
	margin: 20px 0 40px 0;
	font-family: "droid-serif", serif;
	text-align: center;
}

.cards h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	margin: 5px 0;
}

.card {
	width: 30%;
	margin-top: 3%;
	justify-content: center;
	text-align: center;
	background-color: white;
}

.cards .container .row .card .card-img {
	max-width: 100%;
	object-fit: cover;
}
	
.cards .container .row {
	justify-content: space-between;
	text-align: center;
}

.cards .container .row .card sm-1 .card-img img {
	object-fit: cover;
}

.title {
	display: block;
}

/*Footer*/

footer {
	background-color: #FFFFFF;
	justify-content: center;
	text-align: center;
	padding: 30px 0;
	}

footer ul li {
	display: inline-flex;
	list-style-type:none;
	font-size:0;
}

footer ul li i {
	width:60px;
	height:60px;
	font-size: 30px;
	border-radius: 100%;
	background-color: black;
	text-align: center;
	padding: 25% 0;
	color:white;
	justify-content: center;
}

footer p {
	font-family: 'Montserrat', sans-serif;
	color:#5f5f5ee3;
	text-align: left;
	
}